<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Cambio de contraseña{% endblock %}

{% block content %}

{% if validlink %}

{% comment %} 
<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form> 
{% endcomment %}


{% comment %}   
<h1>Set a new password!</h1>
  <form method="POST">

    <p>
      <label for="id_new_password1">New password:</label>
      <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
        <span class="helptext">
        </span>
    </p>

      <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
      </ul>

    <p>
      <label for="id_new_password2">New password confirmation:</label>
      <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
    </p>
    <input type="submit" value="Change my password">
  </form>
 {% endcomment %}

<section class="min-vh-100" style="background: linear-gradient(to bottom, #6C757D, #5885AF);">
  <div class="container pt-5">
    <div class="card mx-auto bg-dark" style="max-width: 500px;">
      <div class="card-body">
        <h2 class="card-title text-white" style="font-family: 'Archivo', sans-serif; font-weight: 600">Cambio de contraseña</h2>
        <div class="text-center">
          <div class="d-flex justify-content-center align-items-center" style="max-height: 128px;">
            <img src="https://cdn-icons-png.flaticon.com/512/138/138659.png" class="img-fluid" alt="img_registro" style="height: 128px;">
          </div>  
        </div>
        <form method="post">
          {% csrf_token %}
          
          <div class="form-group">
            <label class="form-label text-white" for="id_password1">Nueva contraseña:</label>
            {{ form.new_password1|add_class:"form-control form-control-lg" }}
            <small class="form-text text-muted">
              <ul>
                <li>Su contrasena no puede ser igual a la anterior</li>
                <li>Su contraseña no puede contener su informacion personal.</li>
                <li>Su contraseña no puede ser una comun.</li>
                <li>Su contraseña no puede ser completamente numerica.</li>
            </ul>
            </small>
          </div>
      
          <div class="form-group">
            <label class="form-label text-white" for="id_password2">Confirma tu contraseña:</label>
            {{ form.new_password2|add_class:"form-control form-control-lg" }}
          </div>
          
          <button type="submit" class="btn btn-primary w-100 mt-3">Guardar nueva contraseña</button>
        </form>
      </div>
    </div>
  </div>
</section>


{% else %}

  <section class="min-vh-100" style="background: linear-gradient(to bottom, #6C757D, #5885AF);">
    <div class="container pt-5 ">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card p-4 bg-dark text-light">
            <h1 class="text-center mb-4">Ha ocurrido un error</h1>
            <p class="lead text-center">El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un nuevo restablecimiento de contraseña.</p>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endif %}
{% endblock %}