<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Olvidaste tu contraseña?{% endblock %}

{% block content %}

<section class="min-vh-100" style="background: linear-gradient(to bottom, #6C757D, #5885AF);">
  <div class="container pt-5 text-white">
      <div class="card mx-auto bg-dark text-light" style="max-width: 500px;">
          <div class="card-body">
              <h2 class="card-title text-center" style="font-family: 'Archivo', sans-serif; font-weight: 600">Recupera tu contraseña</h2>
              <div class="d-flex justify-content-center align-items-center">
                  <img src="https://ps.w.org/mass-users-password-reset/assets/icon-128x128.png?rev=1721166" class="img-fluid my-3" alt="Imagen">
              </div>
              <form method="post">
                  {% csrf_token %}
                  <div class="form-group pb-2">
                      <small class="form-text text-muted text-white">Ingresa el e-mail asociado a tu cuenta en la parte de abajo y te enviaremos instrucciones para configurar una nueva contraseña.</small>
                      <br>
                      <label class="form-label pt-2" for="id_username">Correo electrónico:</label>
                      {{ form.email|add_class:"form-control form-control-lg" }}
                  </div>
                  <button type="submit" class="btn btn-primary w-100 mt-3">Enviar Instrucciones!</button>
              </form>
          </div>
      </div>
  </div>
</section>


{% comment %}   
  <h1>Olvidaste tu contraseña?</h1>
  <p>Ingresa tu e-mail abajo y te enviaremos instrucciones para configurar una nueva contraseña.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar instrucciones!">
  </form> 
{% endcomment %}

{% endblock %}